body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    padding-right: 15px;
    margin: 0;
    background-color: dodgerblue;
    height: 80px;
}

li {
    color: #383737;
    margin: 5px;
}